/* line 1, ../scss/style.scss */
body {
  background-color: #ffffff;
}

/* line 5, ../scss/style.scss */
.full-wdith {
  min-width: 100%;
}

/* line 9, ../scss/style.scss */
header {
  background: url("../images/stary-bg.png") #ffffff;
  min-height: 175px;
}
/* line 12, ../scss/style.scss */
header h1 {
  color: #fff;
  padding-top: 50px;
}

/* line 18, ../scss/style.scss */
.navigation-section {
  background-color: #333;
}
/* line 21, ../scss/style.scss */
.navigation-section .top-bar li {
  text-transform: uppercase;
}

/* line 27, ../scss/style.scss */
.main-section {
  padding: 30px 0 25px 0;
}

/* line 31, ../scss/style.scss */
footer {
  background-color: #074e68;
  padding: 50px 0 40px 0;
}
/* line 34, ../scss/style.scss */
footer h4, footer p {
  color: #fff;
}

/* line 39, ../scss/style.scss */
.copyright-section {
  background-color: #ffffff;
  color: #000000!important;
  padding: 25px 0 25px 0;
}
.FollowByEmail .follow-by-email-inner .follow-by-email-address{height:auto!important;}
.widget-content table{border:none!important;}
 .widget{margin-top:20px!important;}
 #Label1{margin-top:-15px!important;}
.widget-content ul li{padding:0px!important;}
.displaypageNum, .pagecurrent {margin-right:8px!important;margin-left:8px!important;}
.showpageOf{display:none;}
.postmeta-primary{font-size: 0.9rem;!important;}
.label-size a, .label-size-5 a{font-size: 1rem!important;font-weight:normal!important;}
.post-body, .entry-content{line-height:1.5!important;}




